body{
  text-align: center;
}
tr, td, th{
  border: 1px solid black;
  text-align: center !important;
}

#radioButtons{
  text-align: left;
}

#teamNames{
  text-align: center;
  list-style-type:none;
}